:root
{
    --bgDark: #191d1f;
    --bgNormal: #1e2224;
    --bgLight: #23272a;
    --input: #32383d;
    --accentDark: #557d1c;
    --accentLight: #86c332;

}

*
{
    margin: 0;
    padding: 0;
}

html
{
    color: #AAAAAA;

    font-family: "Roboto", sans-serif;
}

.header
{
    display: flex;
    justify-content: center;
    padding: 1rem 0;

    background-color: var(--bgDark);
}

body,
head,
html
{
    background-color: var(--bgNormal);
}

#MainContainer
{
    margin: auto 0;
    width: 75%;
}

.text-center
{
    text-align: center;
}
